.container {
  text-align: center;
}

.title { 
  margin-top: 50px;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: #26ffcb;
}

.title img {
  padding: 0 20px;
  height: 50px;
}

.boxes {
  display: flex;
  height: 180px;
  width: 180px;
  background: #1f3540;
  margin: 6px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #1f3540;
}

.boxes:hover {
  border: 2px solid #3b5e6f;
  filter: drop-shadow(0px 0px 4px rgba(36, 124, 168, 0.2));

}

.boxes img {
  margin: 50px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 

.vanishing > img {
  opacity: 30%
}

.error-message {
  color: red;
  position: absolute;
  left: 0%;
  right: 0%;
}

.game-info {
  display: flex;
  padding: 0 6px;
}

.score-wrapper, .counter-wrapper {
  display: flex;
  gap: 20px;
  opacity: 30%;
}
.score-wrapper{
  margin-left: auto;
}

p {
  margin: 10px 0;
}

.X-colour {
  color: #FFC226;
}
.O-colour {
  color: #25FFCC;
}
.potential-move {
  opacity: 10%;
}