.container {
  text-align: center;
}

.title { 
  margin-top: 50px;
  color: white;
  /* font-size: 60px; */
  font-size: clamp(28px, 5vw, 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: #26ffcb;
}

.board {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr)); 
  gap: 12px;
  /* max-width: 90vw;  */
  margin: 0 auto;
} 

.boxes {
  display: flex;
  width: min(25vw, 180px); 
  height: min(25vw, 180px);
  background: #1f3540;
  /* margin: 6px; */
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #1f3540;
}

.boxes:hover {
  border: 2px solid #3b5e6f;
  filter: drop-shadow(0px 0px 4px rgba(36, 124, 168, 0.2));

}

.boxes img {
  margin: auto;
  width: min(15vw, 90px); 
  height: min(15vw, 90px);
}

.vanishing > img {
  opacity: 40%
}

.error-message {
  color: red;
  position: absolute;
  left: 0%;
  right: 0%;
}

.game-info {
  display: flex;
  padding: 0 6px;
}

.score-wrapper, .counter-wrapper {
  display: flex;
  gap: 20px;
  opacity: 30%;
}
.score-wrapper{
  margin-left: auto;
}

p {
  margin: 10px 0;
}

.X-colour {
  color: #FFC226;
}
.O-colour {
  color: #25FFCC;
}
.potential-move {
  opacity: 10%;
}

[data-preview="X"] {
  opacity: 0.3;
  content: url('./assets/cross.png');
}
[data-preview="O"] {
  opacity: 0.3;
  content: url('./assets/circle.png');
}

[data-set="X"] {
  content: url('./assets/cross.png');
  opacity: 1;
}
[data-set="O"] {
  content: url('./assets/circle.png');
  opacity: 1;
}